#search{
	width:300px;
	height:150px;
	margin:auto;
	margin-top:20px;
	padding:15px;
}
button{
	position:relative;
	left:50px;
}
.aligning{
	margin-left:700px;
	margin-top:20px;
}
#imagebutton{
	position:relative;
	left:-10px;
	top:-8px;
	margin-bottom:15px;
}
#result{
	margin-top:50px;
}

/* css for search tool ends */

.axis-text {
    font-family: sans-serif;
    font-weight: bold;
    fill: #551aaf;
    text-anchor: middle;
  }
  
  .active {
    font-weight: bold;
    fill: #000;
    fill: #551aaf;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
  }
  
  .inactive {
    font-weight: black;
    fill: #551aaf;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
  }
  
  .inactive:hover {
    fill: #e75480;
    cursor: pointer;
  }

.chart::before {
    position: absolute;
    top: 50px;
    left: 300px;
    z-index: -1;
    display: block;
    width: 400px;
    height: 300px;
    content: " ";
    /* background-image: url("../books.jpeg"); */
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    opacity: 0.3;
  }

.tooltip {
	position: absolute;
	width: 135px;
	height: 60px;
	padding: 2px;
	padding-top: 8px;
	font: 12px sans-serif;
	color: white;
	text-align: center;
	background:purple;
	border: 0;
	border-radius: 10px;
}

/* css for javascript title */
  .ml2 {
	font-weight: 900;
	font-size: 3.5em;
  }
  
  .ml2 .letter {
	display: inline-block;
	line-height: 1em;
  }