<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Top Books - Interactive Visualizations</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
 
 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  
  <!-- <style>
  #table-location {
    margin-left: 0;
      margin-right: auto;
      width: 70%;
  }
  </style> -->

</head>


<body>


  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Interactive Visualizations</h1>
        <p>Use the interactive charts below to explore the dataset</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="well">
          <h5>Select Author:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
          <script>
            function optionChanged(val) {
              return(this.value)
            }
            </script>
        </div>

        <div id="table-location"></div>

      <div class="col-md-6">
        <div id="gauge"></div>
      </div>

      <!-- <div class="row">
        <div class="col-md-12"> -->

        <!-- </div>
      </div> -->

  </div>
 


  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="../static/scripts/author.js"></script>
</body>
</html>