{% extends "layout.html" %} {% block content %}
  <div class="container">
  <div class="row">
    <div class=“col-md-3 text-center">
      <div class="well">
        <h5>Select Author:</h5>
        <select id="selDataset" onchange="optionChanged(this.value)"></select>
        <script>
          function optionChanged(val) {
            return(this.value)
          }
          </script>
      </div>
    </div>

      <div id="table-location"></div>

    <div class="col-md-7">
      <div id="gauge"></div>
    </div>

    <!-- <div class="row">
      <div class="col-md-12"> -->
  
      <!-- </div>
    </div> -->

</div>


  <script src="../static/scripts/author.js"></script>
  

  <!-- End page content -->
</div>

</body>

</html>

{% endblock %}