<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<title>Amazon Bestsellers Library</title>
	
</head>

<body>

<!-- Title/jumbotron text  -->
<div class="container">
    
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
		<style>.row {<!--#CFD8DC-->
					background-color: #EBEBEB;}
		</style>
		<h1>Amazon Bestsellers Library</h1>	
      </div>
	</div>


    <!-- navigation bar. Need to update links -->
	<ul class="nav nav-pills">
		<li class="nav-item">
		  <a class="nav-link active" href="index.html">Home</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="Genre.html">Author/Genre</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="#">??</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link disabled" href="searchtool.html">Search Tool</a>
		</li>
	  </ul>

    </br>
</br>


<!-- Dropdown options -->

<div class="container">
	<div class="col-md-3 text-center">
	  <div class="well">
		<h5>Select Year :</h5>
		<select id="selDataset" onchange="optionChanged(this.value)">
		  <option value="select">Select Year</option>
		  <option value="2009">2009</option>
		  <option value="2010">2010</option>
		  <option value="2011">2011</option>
		  <option value="2012">2012</option>
		  <option value="2013">2013</option>
		  <option value="2014">2014</option>
		  <option value="2015">2015</option>
		  <option value="2016">2016</option>
		  <option value="2017">2017</option>
		  <option value="2018">2018</option>
		  <option value="2019">2019</option>
		</select>
		<script>
		  </script>
	  </div>
	</div>
  </div>

  <!-- display bar graph -->
  <div class="col-md-5"><div id="bar"></div></div>

  <!-- display pie graph -->
  <div class="col-md-7"> <div id="pie"></div> </div>



<!-- Load d3.js -->
<script src="https://d3js.org/d3.v6.js"></script>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<!-- style sheet -->
<link rel="stylesheet" href="../static/css/style.css"/>

<!-- load pgs.js -->
<script src="../static/scripts/pg2.js"></script>

</body>
<!-- Footer-->
<div id="footer">
    <p>Hoped you enjoyed your stay. Now get reading!</p>
  </div>

</html>