<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="../static/css/style.css"/>
    <title>Amazon Bestsellers Library</title>
</head>

<body>

<!-- Title/jumbotron text  -->
<div class="container">
    
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
		<style>.row {<!--#CFD8DC-->
					background-color: #EBEBEB;}
		</style>
		<h1>Amazon Bestsellers Library</h1>	

      </div>
	</div>

<!-- navigation bar. Need to update links -->
	<ul class="nav nav-pills">
		<li class="nav-item">
		  <a class="nav-link active" href="index.html">Home</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="Genre.html">Author/Genre</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="#">??</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link disabled" href="searchtool.html">Search Tool</a>
		</li>
	  </ul>

    </br>
</br>


<div class="container">
    <div class="col-xs-12  col-md-9">
    <div class="chart">
    
    <!-- Scatter plot here. -->
    </div>
    </div>
</div>

</body>

<footer>
	<div id="footer">
	  <p>Hoped you enjoyed your stay. Now get reading!</p>
	</div>
</footer>


</html>