<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Amazon Bestsellers Library</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  	<!-- <link rel="stylesheet" href="../static/css/style.css"/> -->
	<link rel="stylesheet" type="text/css" href="../static/css/style1.css">
</head>

<body>

	<!-- backgound image -->
	<!-- <style>
		body {
		  background-image: url('../static/css/books.jpeg');
		}
		</style> -->

<!-- Title/jumbotron text  -->
<!-- <div class="container">
    
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
		<style>
			.row {
				background-color: #EBEBEB;
			}
		</style>
		<h1>Amazon Bestsellers Library</h1>	
		<p><h5>(2009-2019)</h5></p>

      </div>
	</div>
</div> -->

	<!-- navigation bar. Need to update links -->
	<div class="container">
        <strong><nav>
          <ul class="menu">
			<a class="nav-link" href="{{ url_for('index') }}">Home</a>
			<a class="nav-link" href="{{ url_for('Visualizations') }}">Visualizations</a>	
			<a class="nav-link" href="{{ url_for('Analysis') }}">Analysis</a>			
			<!-- <li><a href="pg2.html">Visualizations</a></li>
			<li><a href="searchtool.html">Search</a></li> -->
          </ul>
        </nav></strong>
      </div>


<!-- div for 2009-2019 visualization -->
	</br>
	</br>
	<div class="row">
		<div class="col-xs-12  col-md-9">
		<div class="chart">
		
		<!-- Scatter plot here. -->
		</div>
		</div>

		




<!-- new -->
	<script src="https://d3js.org/d3.v6.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
	<script src= "../static/js/app.js"></script>
	<!-- <script type=text/javascript src="{{url_for('static', filename='app.js') }}"></script> --> 

	  <!-- do similar for css files as well -->
	  <!-- <script src="{{ url_for('static', filename='js/app.js') }}"></script> -->
 <!-- Footer-->
 <!-- <div id="footer">
    <p>Hoped you enjoyed your stay. Now get reading!</p>
  </div> -->


</body>

</html>
