<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Top Books - Interactive Visualizations</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

   <style> 
    .main-svg {
      width : 690 px;
    }
    </style>


  <!-- Load d3.js -->
  <script src="https://d3js.org/d3.v6.js"></script>

  <!-- Color scale -->
  <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Interactive Visualizations</h1>
        <p>Use the interactive charts below to explore the dataset</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="well">
          <h5>SELECT Sample:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)">
            <option value="select">Select Year</option>
            <option value="2009">2009</option>
            <option value="2010">2010</option>
            <option value="2011">2011</option>
            <option value="2012">2012</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
            <option value="2016">2016</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
          </select>

        </div>
     
      <div class="col-md-5">
        <div id="gauge"></div>
      </div>
    </div>

  </div>
  <div >
    <div id="bar"></div>
  </div>

  <!-- Create a div where the graph will take place -->
<div id="my_dataviz"></div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="../scripts/plotlyapp.js"></script>
  <!-- <script src="../scripts/pie_graphs.js"></script> -->
  <!-- <script src="../new_books.csv"></script> -->
</body>
</html>
</html>

