
{% extends "layout.html" %} {% block content %}

<!-- Dropdown options -->

<div class="container">
	<div class=“col-md-3 text-center”>
	  <div class="well">
		<h5>Select Year :</h5>
		<select id="selDataset" onchange="optionChanged(this.value)">
		  <option value="select">Select Year</option>
		  <option value="2009">2009</option>
		  <option value="2010">2010</option>
		  <option value="2011">2011</option>
		  <option value="2012">2012</option>
		  <option value="2013">2013</option>
		  <option value="2014">2014</option>
		  <option value="2015">2015</option>
		  <option value="2016">2016</option>
		  <option value="2017">2017</option>
		  <option value="2018">2018</option>
		  <option value="2019">2019</option>
		</select>
		<script>
		  </script>
	  </div>
	</div>
  </div>

  <!-- display bar graph -->
  <div class="col-md-12"><div id="bar" class="font"></div></div>

  <!-- display pie graph -->
  <div class="col-md-7"> <div id="pie" class="font"></div> </div>


<!-- load pgs.js -->
<script src="../static/scripts/pg2.js"></script>


  <!-- End page content -->
</div>

</body>

</html>
{% endblock %}