{% extends "layout.html" %} {% block content %}

  <!-- Search tool -->

  <div id ="search" class="container">
    <!-- <div class ="container"> -->
    <div class="row">
      <div class="row justify-content-md-center">
      <div class="col col-lg-12">

  <div id="search" class="f5f5f5 grey lighten-4 z-depth-5"> 
    <form id="myform">
        <div class="input-field">
            <input type="search" id="books">
            <!-- <label for="search">Search Books</label> -->
        </div>
          
        <button class="w3-button w3-red">Search Books</button>


    </form>
  </div>
  </div>
  </div>
  
  <div id="result"></div>
  

  <!-- End page content -->
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../static/scripts/myscript.js"></script>
<script src="../static/scripts/searchtool.js"></script>


</body>
</html>
{% endblock %}